<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radzor</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body class="dark-theme">
    <img class="backdrop" src="../static/img/bgimage.jpg">
    <div class="account">
        <div style="font-size: xx-large; color: #D98F8F; text-align: center;" class="floating">
                Lets setup your Razdor account!
        </div>
        <div class="buttons" style="padding-top: 10%; text-align: center;">
            <a class="btn hover-scale animation" style="border: #D98F8F; border-radius: 10px; background-color: #1f1f1f; color: white;" href="/login">Login</a>
        </div>
        <div class="buttons" style="padding-top: 2%; text-align: center;">
            <a class="btn hover-scale animation" style="border: #D98F8F; border-radius: 10px; background-color: #D98F8F; color: white;" href="/signup">Signup</a>
        </div>
    </div>
</body>