<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radzor</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body class="dark-theme">
    <div class="containter">
        <a href="/friends">friends</a>
        <h1>need help on this feel free to dm <strong>babymusk</strong> on discord!</h1>
    </div>
</body>
</html>