<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Razdor</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body class="dark-theme">
    <img class="backdrop" src="../static/img/bgimage.jpg">
    <div class="account">
        <div class="grid-container">
            <div class="item1" style="grid-column-start: 1; grid-column-end: 4;">
                <div style="font-size: xx-large; color: #D98F8F; text-align: center;" class="floating">
                    Login complete!
                </div>
            </div>
            <div class="item4" style="grid-column-start: 1; grid-column-end: 4; padding: 25px;">
                Your account <strong>{{username}}#{{discrim}}</strong> has successfully been added!
                <h2>Restart the app to enjoy!</h2>
            </div>
        </div>
    </div>
</body>
</html>