<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razdor</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body class="dark-theme">
    <img class="backdrop" src="../static/img/bgimage.jpg">
    <div class="account">
        <div class="grid-container" style="text-align: left;">
            <div class="item1" style="grid-column-start: 1; grid-column-end: 4;">
                <div style="font-size: xx-large; color: #D98F8F; text-align: center;" class="floating">
                    You're all set!
                </div>
            </div>
            <div class="item2" style="grid-column-start: 1; grid-column-end: 4; padding: 10px; font-size: larger;">Welcome to Razdor, <strong>{{username}}#{{discrim}}</strong></div>
            <div class="item3" style="grid-column-start: 1; grid-column-end: 4; padding: 10px; font-size: larger;">Your User ID is: {{id}}</div>
            <div class="item4" style="grid-column-start: 1; grid-column-end: 4; padding: 10px; font-size: larger;"><strong>Keep your password safe!</strong></div>
            <div class="item5"></div>
            <div class="item6"></div>
            <div class="item7"></div>
            <div class="item8"></div>
            <div class="item9" style="grid-column-start: 1; grid-column-end: 4; padding: 10px; font-size: larger;">Thanks for using Radzor please restart the app to enjoy!</div>
            </div>
            <div class="item10"></div>
        </div>
    </div>
</body>
</html>