@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "../css/modesta.css";


body{
    font-family: 'Roboto', sans-serif;
    color: white;
    /*background-image: linear-gradient(to right, #5a5a5a , #535353);*/
    background-color: #2C2F33;
    font-size: large;
}

 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2C2F33;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(177, 177, 177, 0.7);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #D98F8F;
  }

.message_container{
    padding: 20px;
    border-right: solid #D98F8F;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
    float: left;
}

.friends_list_button {
    color: white;
    background-color: #2C2F33;
    border: none;
    transition-duration: 0.4s;
    font-size: 16px;
    animation-timing-function: linear;
    width: 100%;
    border-radius: 10px;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */

}
  
.friends_list_button:hover {
    display: inline-block;
    font-size: 16px;
    display: inline-block;
    border-radius: 10px;
    color: black;
    background-color: #dfdede;
}

.friends_list_button.active {
    display: inline-block;
    border: solid #D98F8F;
    font-size: 17px;
    display: inline-block;
    border-radius: 10px;
    color: black;
    background-color: #dfdede;
}

.username_header{
    font-size: x-large;
    padding-left: 160px;
    
}

#custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background-color: #FFF;
    color: #333;
    border-radius: 5px;
  }
  #custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
  }
  #custom-menu li:hover {
    background-color: #DEF;
  }

.msg_box{
    padding-left: 1.3%;
    padding-bottom: 1.5%;
    position: relative;
    margin-left: 200px;
}

.msg_box:hover{
    border-radius:5px;
    background-color: #0f0f0f;
    color: white;
}

ul.friends_list {
  list-style-type: none;
  font-size: 18px;
  padding-left: 13%;
}

a:link {
  color: #D98F8F;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #D98F8F;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #D98F8F;
  text-decoration: none;

}

/* selected link */
a:active {
  color: #D98F8F;
  text-decoration: none;
}